.VioletColor {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #885EF0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 20px;
    position: absolute;
}

.VioletColor:hover {
    background-color: #714fc7;
}

@media( max-width: 1300px ) {
    .VioletColor {
        padding: 8px 17px;
        font-size: 13px;
    }
}
@media( max-width: 1024px ) {
    .VioletColor {
        padding: 8px 15px;
        font-size: 13px;
        position: absolute;
    }
}