.RecServicesCards {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 499px;
    height: 300px;
    object-fit: cover;
    margin: 15px;
    h1{
        margin: 0;
    }
}