.HeaderSection {
    background-image: url("../../Assets/images/headerBackground.png");
    height: 493px;
    width: 1242px;
    object-fit: cover;
    margin: 3rem auto;
    border-radius: 20px;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: flex;
    z-index: 10;
    position: relative;

    /* flex-direction: row; */
    img {
        margin: 0 20px;
    }
}

.ProfileDropdown {
    select {
        border: none;
        color: #885EF0;
        font-size: 16px;
        /* Adjust font size as needed */
        width: 110px;
        height: 38px;
        border-radius: 7px;
        padding: 5px;
    }
}

.Navlinks {
    display: flex;
    flex-direction: column;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 10px;
        text-decoration: none;
    }
}

.search input[type=text] {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 auto;
    float: right;
}

.search button {
    background-color: transparent;
    color: #f2f2f2;
    margin: 3px 5px;
    padding: 0;
    border: none;
    top: 10px;
    img {
        margin: 0;
        padding: 5px 0 0 0;
    }

    cursor: pointer;
}

.UserProfile {
    align-items: center;
    margin: 5px 0 0 auto;
    justify-content: center;
    display: flex;

    img {
        border: solid 2px white;
        border-radius: 20px;
    }
}

@media (max-width: 1300px) {
    .HeaderSection {
        background-image: url("../../Assets/images/headerBackground.png");
        height: 493px;
        max-width: 1000px;
        object-fit: cover;
        margin: 3rem auto;
    }

    .Navlinks {
        display: flex;
        flex-direction: column;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        li {
            float: left;
        }

        li a {
            font-size: small;
        }
    }
}

@media(max-width: 1024px) {
    .HeaderSection {
        background-image: url("../../Assets/images/headerBackground.png");
        height: 380px;
        max-width: 600px;
        object-fit: cover;
        margin: 3rem auto;
    }

    .Navlinks {
        display: none;
    }

    .SearchBox {
        display: none;
        ;
    }

    .ProfileDropdown {
        display: none;
    }
}

.HamBur {
    display: none;
}

.Hidden {
    display: none;
}

.MobileMenu {
    display: none;
}

@media (max-width: 1024px) {
    .Header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            background-color: transparent;
            border: none;
        }
    }

    .UserProfile {
        align-items: center;
        margin: 0;
        width: 20px;

        img {
            border: solid 2px white;
            border-radius: 20px;
        }
    }

    .HamBur {
        display: block;
    }

    /* MobileMenu */
    .MobileMenu {
        z-index: 11;
        top: 57px;
        display: flex;
        position: absolute;
        width: auto;
        height: auto;
        background-color: #d7e2c9b6;
        border-radius: 6px;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            text-align: start;
        }

        a {
            color: white;
            text-decoration: none;
        }

        li {
            width: 90px;
            padding: 7px 10px;
        }

        li:hover {
            background-color: #d7e2c9;
        }
    }

    .Hidden {
        display: none;
    }

    .search {
        display: none;
    }
}